<mat-toolbar color="primary">
  <div class="header-left">
    <a routerLink="/">Car Marketplace</a>
  </div>
  <div class="header-right">
    <button *ngIf="userAuth" mat-button routerLink="/create" routerLinkActive="mat-accent">Adauga anunț</button>
    <button *ngIf="!userAuth" mat-button routerLink="/login" routerLinkActive="mat-accent">Autentificare</button>
    <button *ngIf="!userAuth" mat-button routerLink="/signup" routerLinkActive="mat-accent">Înregistrare</button>
    <button *ngIf="userAuth" mat-button (click)="onLogout()">Iesi din cont</button>
  </div>
</mat-toolbar>