.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.app-logo {
  height: 40px;
  margin-right: 20px;
}

a:link, a:visited {
  text-decoration: none;
  color: #2b2a2a;
  cursor: pointer;
}