<h1>Formular de Înregistrare a Mașinii pentru Vânzare</h1>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<form [formGroup]="form" *ngIf="!isLoading" class="example-form" (submit) = "onSaveCar()">
  <div class="add-image">
    <button mat-stroke-button type="button" (click)="filePicker.click()">Adauga imagine</button>
    <input type="file" #filePicker (change)="onImagePicked($event)">
  </div>
  <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image')?.valid">
    <img [src]="imagePreview" [alt]="form.value.model">
  </div>
  <mat-form-field class="example-full-width">
    <mat-label>Model</mat-label>
    <input 
      matInput 
      placeholder="Ex. S class" 
      formControlName="model"
      name="model">
    <mat-error *ngIf="form.get('model')?.invalid">Modelul de masina introdus nu este valid</mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Pret</mat-label>
    <input 
      matInput 
      placeholder="1000" 
      formControlName="price"
      name="price">
    <mat-error *ngIf="form.get('price')?.invalid">Pretul nu este corect</mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Telefon</mat-label>
    <span matTextPrefix>+07 &nbsp;</span>
    <input 
      type="tel" 
      matInput 
      placeholder="488-98-145" 
      formControlName="telephone"
      name="telephone">
    <mat-icon matSuffix>mode_edit</mat-icon>
    <mat-error *ngIf="form.get('telephone')?.invalid">Va rog sa introduceti un telefon valid</mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Descriere</mat-label>
    <textarea 
      matInput 
      name="description" 
      formControlName="description"
      placeholder="Ex. Este cea mai smechera masina..."></textarea>
    <mat-error *ngIf="form.get('description')?.invalid">Va rog sa adaugati o descriere la masina</mat-error>
  </mat-form-field>
  
  <section>
    <div class="example-button-row">
      <button 
        mat-button
        type="submit"
        >Salveaza anuntul</button>
    </div>
  </section>
</form>

