<mat-spinner *ngIf="isLoading"></mat-spinner>

<h1 class="page-title">Toate Anunțurile</h1>

<div class="filter-container">
  <mat-form-field appearance="fill">
    <mat-label>Filtrează după model</mat-label>
    <input matInput (input)="onFilterChange($event)" placeholder="Introdu modelul mașinii">
  </mat-form-field>
</div>

<div class="container" *ngIf="!isLoading && filteredCars.length > 0">
  <div *ngFor="let car of filteredCars" class="car-card">
    <mat-card class="example-card car-list-card" appearance="outlined">
      <div class="car-card-content">
        <div class="car-image">
          <a [routerLink]="['/add', car.id]" class="car-link">
            <img [src]="car.imagePath" [alt]="car.model">
          </a>
        </div>
        <div class="car-details">
          <a [routerLink]="['/add', car.id]" class="car-link">
            <mat-card-title class="car-title">{{ car.model }}</mat-card-title>
          </a>
          <mat-card-subtitle class="car-price">{{ car.price }} lei</mat-card-subtitle>
          <mat-card-subtitle class="car-description">{{ car.description }}</mat-card-subtitle>
          <div class="car-actions">
            <a *ngIf="userAuth && userId === car.creator" mat-button color="primary" [routerLink]="['/edit', car.id]">Editare</a>
            <button *ngIf="userAuth && userId === car.creator" mat-button color="warn" (click)="onDelete(car.id)">Ștergere</button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<mat-paginator 
  [length]="totalCars" 
  [pageSize]="carsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangePage($event)"
  *ngIf="cars.length > 0"
></mat-paginator>
<p *ngIf="!isLoading && cars.length <= 0">No cars added yet</p>
