<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="container" *ngIf="!isLoading && cars.length > 0">
  <div *ngFor="let car of cars" class="card">
    <mat-card class="example-card small-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
          <a mat-button color="primary" [routerLink]="['/add', car.id]">
            <mat-card-subtitle>{{ car.model }}</mat-card-subtitle>
          </a>
      </mat-card-header>
      <div class="car-image">
        <img [src]="car.imagePath" [alt]="car.model">
      </div>
      <mat-card-content>
        <p>{{ car.description }}</p>
      </mat-card-content>
      <mat-card-content>
        <p>{{ car.price }}</p>
      </mat-card-content>
      <mat-card-content>
        <p>{{ car.telephone }}</p>
      </mat-card-content>
      <mat-card-actions>
        <a *ngIf="userAuth && userId === car.creator" mat-button color="primary" [routerLink]="['/edit', car.id]">Edit</a>
        <button mat-button *ngIf="userAuth && userId === car.creator" color="warn" (click)="onDelete(car.id)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<mat-paginator 
  [length]="totalCars" 
  [pageSize]="carsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangePage($event)"
  *ngIf="cars.length > 0"
></mat-paginator>
<p *ngIf="!isLoading && cars.length <= 0">No cars added yet</p>
