.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1rem;
}

.container img {
  height: 100%;
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.car-image {
  width: 15rem;
  height: 15rem;
}

.car-image img {
  width: 100%;
}

mat-paginator {
  margin-top: 1.5rem;
}


