<div class="container" *ngIf="cars.length > 0">
  <div *ngFor="let car of cars" class="card">
    <mat-card class="example-card small-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ car.brand }}</mat-card-title>
        <mat-card-subtitle>{{ car.model }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ car.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Edit</button>
        <button mat-button color="warn">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<p *ngIf="cars.length <= 0">No cars added yet</p>